.error {
  color: red;
  font-size: 13px;
  margin-bottom: 5px;
}


h2 {
  margin-bottom: 1rem;
}

.add-form {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;

  input {
    padding: 0.5rem;
    width: 150px;
  }

  button {
    padding: 0.5rem 1rem;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;

    &:hover {
      background-color: #45a049;
    }
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;

  th,
  td {
    padding: 0.75rem;
    border: 1px solid #ddd;
    text-align: left;
  }


  input {
    width: 100%;
    padding: 0.4rem;
  }

  button {
    margin-right: 0.5rem;
    padding: 0.3rem 0.6rem;
    border: none;
    cursor: pointer;

    &:first-child {
      background-color: #2196f3;
      color: white;
    }

    &:last-child {
      background-color: #f44336;
      color: white;
    }
  }
}
